logging:
  level:
    org.taonity.artistinsightservice.logging.HttpServletLoggingService: debug
    org.taonity.artistinsightservice.mvc.GlobalExceptionHandler: debug
#    org.springframework.security: TRACE
#    root: trace
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    org.hibernate.orm.jdbc.bind: TRACE


spring:
  security:
    oauth2:
      client:
        registration:
          spotify-artist-insight-service:
            redirect-uri: http://127.0.0.1:9016/login/oauth2/code/spotify-artist-insight-service
  jpa:
    properties:
      hibernate:
        format_sql: true

app:
  rate-limit:
    send-email:
      refill-duration: PT1S