---
logging:
  level:
    org.taonity.artistinsightservice.logging.HttpServletLoggingService: debug
    org.taonity.artistinsightservice.mvc.GlobalExceptionHandler: debug
    DB: info
#    org.springframework.security: TRACE
#    root: trace
#    org.hibernate.SQL: DEBUG
#    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
#    org.hibernate.orm.jdbc.bind: TRACE
# For Hibernate's proxy factory
    org.hibernate.bytecode: DEBUG

#debug: true

spring:
  security:
    oauth2:
      client:
        registration:
          spotify-artist-insight-service:
            redirect-uri: http://127.0.0.1:9016/login/oauth2/code/spotify-artist-insight-service
  jpa:
    properties:
      hibernate:
        format_sql: true

app:
  dev-access:
    admin-email: local-admin@example.com
  rate-limit:
    send-email:
      refill-duration: PT1S

decorator:
  datasource:
    datasource-proxy:
      logging: slf4j
      query:
        enable-logging: true
        log-level: info
        logger-name: DB
      slow-query:
        enable-logging: true
        log-level: info
        logger-name: DB
        threshold: 300
      multiline: false
      format-sql: true
      json-format: false
      count-query: false

---
############# clean migrates local pg db
#spring:
#  flyway:
#    enabled: true
#    clean-disabled: false
#    locations:
##      - filesystem:templates/docker/flyway/sql
#      - filesystem:templates/docker/flyway/sql/tables
#    placeholder-replacement: true
#    placeholder-prefix: "{{ "
#    placeholder-suffix: " }}"
#    placeholders:
#      app_user: d
#      app_password: d
#      db_name: artist_insight_service
#
#app:
#  additional-profiles: flyway-clean-migrate