<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <appender name="CONSOLE_DEFAULT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="org.taonity.artistinsightservice.logging.MaskingPatternLayout">
                <maskPattern>\"x-xsrf-token\"\s*:\s*\"(.*?)\"</maskPattern>
                <maskPattern>\"JSESSIONID\"\s*:\s*\"(.*?)\"</maskPattern>
                <maskPattern>\"XSRF-TOKEN\"\s*:\s*\"(.*?)\"</maskPattern>
                <maskPattern>tokenValue='(.*?)'</maskPattern>
                <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            </layout>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE_DEFAULT"/>
    </root>
</configuration>