services:
  app:
    image: generaltao725/artist-insight-service:latest
    environment:
      JDK_JAVA_OPTIONS: --add-opens java.base/java.lang=ALL-UNNAMED
      JAVA_TOOL_OPTIONS: -agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005
#      LOGGING_LEVEL_ROOT: TRACE
#      LOGGING_LEVEL_ORG_TAONITY_ARTISTINSIGHTSERVICE_LOGGING: DEBUG
    command: --spring.profiles.active=$SPRING_PROFILES_ACTIVE

    env_file:
      - ../.env
    volumes:
      - ./config:/config
    healthcheck:
      test: curl localhost:9016/actuator/health || exit 1
      interval: 10s
      timeout: 10s
      retries: 100